body, html {  
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #FFF url('../img/bg.png') left top;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
 
#container {
    width: 100%;
    position: relative;
    height: auto !important;   
    height: 100%;
    min-height: 100%;
}
 
#contents {
  padding-bottom: 100px;
  height: 100%;
}
ul {
  padding: 10px;
  margin: 0;
}
ul li {
  list-style-type:none;
}
ul li.left {
  width: 65%;
  height: 120px;
  padding-top: 20px;
  padding-left: 40px;
  background-image: url(../img/popOwn.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
ul li.right {
  margin: 0 0 0 auto;
  width:65%;
  height: 120px;
  padding-top: 20px;
  padding-left: 40px;
  background-image: url(../img/popSanta.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
}
footer textarea {
  width: 90%;
}
footer #back {
  float: left;
  width: auto;
  height: 35px;
  margin-left:10px;
}
footer #done {
  float: right;
  width: auto;
  height: 35px;
  margin-right:10px;
}
