html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;  background: white url("../img/bg.png") no-repeat left top;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 80%;
  height: 80%;
  padding: 10%;
  margin: 0; }

#stamp_list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  #stamp_list th, #stamp_list td {
    padding: 10px;
    text-align: center; }
  #stamp_list img {
    width: 80%;
    margin: 20% 10%; }

#congratulation {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none; }
  #congratulation img {
    width: 100%; }

#clear {
  width: 10%;
  height: 6%;
  position: absolute;
  top: 0;
  left: 0; }
